<footer id="Footer" class="clearfix">
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            <p>Our service is free and we do not place any cookies on your browser </p>
                            <p>© 2018 Copyright:<a href="http://caniaffordthiscar.com"> Can I Afford This Car</a></p>
                        </div>
                        <nav id="social-menu" class="menu-main-menu-footer-container">
                            <ul id="menu-main-menu-footer" class="social-menu">
                                <li>
                                    <a href="/about" class=""><span>About Us</span></a>
                                </li>
                                <li>
                                    <a href="/howitworks" class=""><span>How It Works</span></a>
                                </li>
                                <li>
                                    <a href="/privacy" class=""> <span>Privacy Policy</span></a>
                                </li>
                                <li>
                                    <a href="/contact"><span>Contact</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            <!-- <a href="http://bit.ly/1M6lijQ" class="button button_theme button_js action_button" target="_blank"><span class="button_label">Buy now</span></a> -->
            <div class="extras-wrapper"></div>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>

  

</body>

</html>