<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <title>Can You Afford Your Dream Car? - Car Affordability Calculator</title>
    <!-- Google console tag -->
    <meta name="google-site-verification" content="4HpXI7Bdbn3TjtDAEx6M-Rl56VWcHwsQHajvWEzgvLo" />
    <!-- SEO TAG -->
    <meta name = "description" content = "Submit a simple, free form and you will get the true annual or monthly cost of owning and running your dream car. All running costs taken into account.">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Quicksand:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='css/global.css'>
    <link rel='stylesheet' href='css/structure.css'>
    <link rel='stylesheet' href='css/pay.css'>
    <link rel='stylesheet' href='css/custom.css'>

    <!-- SCRIPT FOR SOCIAL MEDIA SHARING -->
    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5b6f010504b9a500117b0d99&product=inline-share-buttons"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106874173-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106874173-1');
    </script>

    <!-- CONFIGURATION FOR SOCKET.IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    </script>  

</head>


<body class="color-custom style-default button-default layout-full-width no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80 menuo-no-borders menuo-right mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tr-content be-reg-2074">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div class="header_placeholder"></div>
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                   <a href="/"><img class = "logo" src="https://res.cloudinary.com/dyguqwsrq/image/upload/c_scale,e_negate,w_250/v1535198353/Logos/logo.png" alt="logo"/></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li>
                                                <a href="/howitworks" class=""><span>How It Works</span></a>
                                            </li>
                                            <li>
                                                <a href="/about" class=""><span>About Us</span></a>
                                            </li>
                                            <li>
                                                <a href="/privacy" class=""> <span>Privacy/Cookie Policy</span></a>
                                            </li>
                                            <li>
                                                <a href="/contact"><span>Contact</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>

                            
                            
                        <!--     <div class="top_bar_right">
                                <div class="top_bar_right_wrapper">
                                    <a href="http://bit.ly/1M6lijQ" class="button button_theme button_js action_button" target="_blank"><span class="button_label">Buy now</span></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </header>
        </div>