<% include partials/header.ejs%>

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section bg-cover-ultrawide" style="padding-top:160px; padding-bottom:0px; background-image:url(content/pay/images/home_pay_sectionbg1.png); background-repeat:no-repeat; background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">

							<h1>Sorry but we are experiencing technical difficulties at the moment. Please try 
							again soon</h1>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<%include partials/footer.ejs%>